body{
    font-family: "Work Sans", serif;
}

.dark-2{
    color: rgba(66, 66, 66, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* shared styles */
.display-flex{
    display: flex;
}
/* header style */


/* navbar related styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item , a{
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner related styles */

.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
}