/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    font-family: "Work Sans", serif;
}

.dark-2{
    color: rgba(66, 66, 66, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-3{
    color: rgba(114, 114, 114, 1);
}

.text-primary{
    color: rgba(255, 144, 14, 1);
}


/* shared styles */
.display-flex{
    display: flex;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

main > section{

    margin-top: 130px;
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    padding: 20px  25px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-weight: 600;
    border:none;
    
}
/* header style */


/* navbar related styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item , a{
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner related styles */

.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-discription{
    color: rgba(114, 114, 114, 1);
}


.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}


/* main */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.teams{
    align-items: center;
   
}


#quick-list{
    
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}

.feature-description{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}



/* responsive media query */



.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 3.375rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}



.fact-name{
    font-size: 1.25rem;
    margin-top: 4px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}


.fact-description{
    max-width: 540px;
}

/* sponsor related styles */

.our-sponsors{
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* max-width: 1440px;
    margin: 50px auto; */
}
.sponsor-companies img{
    filter: grayscale(100);
}


@media screen and (max-width: 576px) {
    .navbar ,.nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .our-features{
        margin-left:15px ;
    }
    .facts-container 
    {
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap:24px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;

    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap:40px;
        justify-items: center;

    }
}


